.header {
    background-color: transparent;
    @include phone {
        padding: 10px 0 0;    
    }
    .header-inner {   
        max-width: 1200px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        @include rwd(900) {
            flex-direction: column;
            align-items: center;
        }
        .lang_switch {
            display: none;
        }
        @include phone {
            flex-direction: row;
            align-items: center;
            .lang_switch {
                padding: 5px 8px;
                margin-bottom: 10px;
                display: block;
                background-color: #f66563;
                background: linear-gradient(0deg, #f66563, #f18886);
                background: linear-gradient(180deg, #3f3eb6, #c3c2f7);
                color: #fff;
                border-radius: 3px;
                option {
                    background-color: #1e232f;
                }
            }
        }
    }
    .logo {
        width: 70px;
        order: 0;
        flex-shrink: 0;
        @include rwd(1200) {
            width: 55px;
            margin-bottom: 10px;
        }
    }
    .member-links {
        height: 40px;
        margin-left: unset;
        @include phone {
            display: none;
        }
        ul {
            height: 100%;
            align-items: center;
            justify-content: flex-end;
            @include rwd(900) {
                justify-content: center;
            }
        }
        li {
            height: 100%;
            padding: 0;
            color: #b5b5b5;
            display: flex;
            align-items: center;
            @include rwd(1024) {
                padding: 5px 0;
            }
            a {
                margin: 0;
                padding: 5px 0 0;
                line-height: unset;
                color: #b5b5b5;
                transition: 0.3s;
                @media (any-hover: hover) {
                    &:hover {
                        color: unset;
                        background: unset;
                        opacity: 0.7;
                    }
                }
            }
            span {
                padding: 5px 0 0;
                color: #b5b5b5;
                transition: 0.3s;
                cursor: pointer;
                @media (any-hover: hover) {
                    &:hover {
                        color: unset;
                        background: unset;
                        opacity: 0.7;
                    }
                }
            }
            .icon {
                width: 20px;
                margin-right: 5px;
                &.user {
                    width: 18px;
                }
            }
            .user {
                display: flex;
                align-items: flex-end;
                div {
                    position: relative;
                }
                div+div {
                    margin-left: 20px;
                    &::before {
                        content: "/";
                        font-size: 15px;
                        position: absolute;
                        bottom: 0;
                        left: -11px;
                    }
                }
            }
        }
        li+li {
            margin-left: 25px;
        }
        .userTool {
            position: relative;
            &:hover {
                .hoverBox {
                    display: block;
                }
            }
            .hoverBox {
                width: 350px;
                background-color: #eafeff;
                color: #333;
                position: absolute;
                @include pos(tr, 100%, 5px);
                z-index: 9995;
                display: none;
                .msg {
                    ul {
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap !important;
                    }
                    li {
                        width: calc(100% / 2);
                        padding: 25px 5px 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: #999;
                    }
                    a {
                        padding: 0;
                        @media (any-hover: hover) {
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                    .num {
                        padding: 5px 0 10px;
                        color: #f54b61 !important;
                        font-size: 2.2rem;
                        font-weight: bold;
                    }
                    .btn {
                        padding: 8px 15px;
                        background: linear-gradient(180deg, #f78161, #f54f64);
                        border-radius: 5px;
                        transition: border 0.3s;
                        color: #fff;
                    }
                }
                .tool {
                    table {
                        width: 100%;
                        margin: 0;
                        background: transparent;
                        border-collapse: collapse;
                    }
                    td {
                        width: calc(100% / 3);
                        min-height: unset;
                        padding: 0;
                        line-height: unset;
                        border: none;
                        background: transparent;
                        border: 1px solid #ddd;
                    }
                    a {
                        width: 100%;
                        height: 100%;
                        padding: 20px 10px;
                        border-radius: unset;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                    }
                    .icon {
                        width: 30px;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}
