.top-links {
    width: 100%;
    padding: 12px 10px;
    background-color: #171b24;
    border-bottom: none;
    @include phone {
        padding: 0 5px;
        display: none;
    }
    .center-hold {
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include rwd(900) {
            flex-direction: column;
        }
    }
    .network {
        font-size: 1.4rem;
        a {
            color: #686c75;
            padding: 0;
            &::before {
                display: none;
            }
        }
        select {
            padding-right: 5px;
            cursor: pointer;
        }
        @include rwd(1255) {
            padding: 3px;
            text-align: unset;
            flex: unset;
        }
        li {
            margin-right: 0;
            display: flex;
            align-items: center;
            position: relative;
            color: #686c75;
            cursor: pointer;
            transition: 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        li+li {
            margin-left: 40px;
            &::before {
                content: "";
                width: 1px;
                height: 70%;
                margin: auto;
                background-color: #686c75;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -20px;
            }
        }
        .icon {
            width: 16px;
            margin-right: 4px;
        }
    }
    .network+.network {
        @include rwd(900) {
            margin-top: 5px;
        }
    }
}