html {
    font-size: 62.5%;
    @include rwd(1152) {
        font-size: 58.5%;
    }
    @include rwd(1024) {
        font-size: 52.5%;
    }
    @include rwd(650) {
        font-size: 47.5%;
    }
}

body {
    font: 400 14px/1.2 "Roboto", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}


.fed-min {
    max-width: 1200px;
    margin: auto;
}

.userTitle {
    height: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    display: none;
    @include phone {
        display: block;
    }
}

.fed-userBody {
    padding: 70px 0 50px;
    display: flex;
    @include rwd(1024) {
        padding: 20px 0 80px;
        flex-direction: column;
        background: transparent;
    }
    @include phone {
        padding: 0 0 80px;
    }

    .leftBox {
        width: 240px;
        margin-right: 20px;
        flex-shrink: 0;
        @include rwd(1024) {
            width: 100%;
        }
        .infoBox {
            padding: 30px 0;
            margin-bottom: 20px;
            border-radius: 5px;
            color: #888;
            background: url(../img/my_bg.jpg) no-repeat center / 100% 100%;
            display: flex;
            flex-direction: column;
            @include rwd(1024) {
                margin-bottom: 15px;
                padding: 20px 0 0;
                overflow: hidden;
            }
            .msg {
                padding: 30px 0;
                height: calc(100% - 35px);
                a {
                    color: #888;
                    transition: 0.3s;
                    @include hover {
                        &:hover {
                            color: #fff;
                            .btn {
                                border: 1px solid #fff;
                            }
                        }
                    }
                }
                ul {
                    height: 100%;
                    display: flex;
                    font-size: 1.4rem;
                }
                li {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .num {
                    padding: 3px 0;
                    color: #f54b61;
                    font-size: 2.2rem;
                    font-weight: bold;
                }
                .btn {
                    padding: 5px 10px;
                    border: 1px solid #888;
                    border-radius: 5px;
                    display: none;
                    transition: border 0.3s;
                }
                @include rwd(1024) {
                    .btn {
                        display: block;
                        cursor: pointer;
                    }
                    .num {
                        font-size: 3rem;
                    }
                }
            }
            .name {
                order: -1;
                text-align: center;
                font-size: 2rem;
                font-weight: bold;
                color: #eafeff;
                @include rwd(1024) {
                    order: 2;
                    height: 35px;
                    line-height: 35px;
                    font-size: 1.7rem;
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }
            .vipBtn {
                width: 60%;
                margin: auto;
                padding: 12px 0;
                text-align: center;
                border-radius: 5px;
                background: linear-gradient(180deg, #f7c3a7, #b38d79);
                &:hover {
                    color: #fff;
                    opacity: 0.8;
                    transition: opacity 0.5s;
                }
                @include rwd(1024) {
                    display: none;
                }
            }
        }
        .userMenu {
            border-radius: 5px;
            background-color: #1f242f;
            @include rwd(1024) {
                margin-bottom: 15px;
                background-color: rgba(0, 0, 0, 0.2);
            }
            ul {
                @include rwd(1024) {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            li {
                a {
                    width: 100%;
                    height: 55px;
                    line-height: 55px;
                    display: block;
                    color: #a0a4ae;
                    font-size: 1.6rem;
                    transition: 0.3s;
                    text-align: center;
                    cursor: pointer;
                    &:hover {
                        color: #f66063;
                    }
                }
                @include rwd(1024) {
                    width: calc(100% / 4);
                    a {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: #90949f;
                        font-size: 1.5rem;
                        &:hover {
                            color: #90949f;
                        }
                    }
                }
                @include phone {
                    &.index {
                        display: none;
                    }
                }
            }
            .icon {
                width: 22px;
                height: 22px;
                margin-bottom: 8px;
                position: relative;
                display: none;
                @include rwd(1024) {
                    display: block;
                }
            }
        }
    }

    .rightBox {
        width: 100%;
        padding: 30px 20px;
        background-color: #1f242f;
        border-radius: 5px;
        @include rwd(1024) {
            padding: 20px 10px;
            background: transparent;
        }
        .copyList {
            margin-bottom: 40px;
            color: #5a5f6a;
            p {
                font-size: 1.5rem;
                padding-bottom: 20px;
                color: #a5a4ae;
            }

            li + li {
                margin-top: 10px;
            }
            span {
                display: block;
                padding-bottom: 3px;
                position: relative;
                &::after {
                    content: "：";
                    padding-left: 2px;
                }
            }
            .item {
                height: 35px;
                display: flex;
                background-color: #29303f;
                border-radius: 3px;
                overflow: hidden;
            }
            input {
                width: 100%;
                height: 100%;
                padding: 0 10px;
                background: transparent;
                outline: none;
                border: none;
                color: #a5a4ae;
            }
            .copyBtn {
                height: 100%;
                padding: 0 20px;
                flex-shrink: 0;
                background-color: #e6455d;
                color: #fff;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        .tipList {
            font-size: 0.9rem;
            color: #5a5f6a;
            ul {
                list-style-type: decimal;
                margin-left: 15px;
            }
            li {
                list-style-type: decimal;
                line-height: 20px;
            }
            li + li {
                margin-top: 5px;
            }
        }

        form {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.userForm {
    width: 100%;
    max-width: 340px;
    flex-shrink: 0;
    .userIpt {
        width: 100%;
        li + li {
            margin-top: 15px;
        }
        input {
            width: 100%;
            height: 40px;
            padding: 0 15px;
            @include fullNone;
            border-radius: 5px;
            color: #d6d6d6;
            background-color: rgba(85, 85, 85, 0.2);
            &:-webkit-autofill {
                box-shadow: unset;
                box-shadow: 0 0 0 50px rgba(85, 85, 85, 0.5) inset !important;
                -webkit-text-fill-color: #333;
                opacity: 0.5;
            }
        }
    }

    .userBtn {
        padding-top: 30px;
        .btn {
            width: 100%;
            @include fullNone;
            height: 40px;
            color: #ccc;
            background-color: #a93445;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.fed-close {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    display: none;
    &::before,
    &::after {
        content: "";
        width: 100%;
        height: 2px;
        margin: auto;
        background-color: #999;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}

// 播放紀錄/我的收藏
// 按鈕
.btnBox {
    margin-bottom: 5px;
    padding: 0 5px 10px 0;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #485062;
    .clearBtn {
        padding: 5px 20px;
        border-radius: 3px;
        display: inline-block;
        background: linear-gradient(180deg, #f7c3a7, #b38d79);
        cursor: pointer;
        transition: 0.5s;
        @include hover {
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
// 無資訊
.noData {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
        width: 200px;
    }
    p {
        padding-top: 15px;
        color: #5e626c;
        letter-spacing: 1px;
        font-size: 1.4rem;
    }
}
// 影片紀錄清單
.recordList {
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    li {
        width: calc(100% / 4);
        cursor: pointer;
        display: flex;
        @include rwd(1160) {
            width: calc(100% / 3);
        }

        @include rwd(1024) {
            width: calc(100% / 4);
        }

        @include rwd(880) {
            width: calc(100% / 3);
        }

        @include rwd(670) {
            width: calc(100% / 2);
        }

        a {
            width: 100%;
            height: 100%;
            padding: 5px 5px 20px;
            display: block;
            @include hover {
                &:hover {
                    color: #f55e63;
                    .picBox::before{
                        opacity: 1;
                    }
                }
            }
        }
        .picBox {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            background-color: #212121;
            position: relative;
            overflow: hidden;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                margin: auto;
                background: rgba(0, 0, 0, 0.6) url(/MDassets/img/play.png) no-repeat center / 35%;
                position: absolute;
                @include pos(tbrl, 0);
                z-index: 10;
                opacity: 0;
                transition: opacity 0.3s;
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                @include pos(tl, 0);
            }
        }

        .title {
            display: block;
            padding-top: 5px;
        }
    }
}

// 充值VIP
.recharge {
    .title {
        margin-bottom: 10px;
        padding-left: 5px;
        font-size: 16px;
        color: #7f838d;
    }

    .list {
        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        li {
            width: calc(100% / 4);
            height: 120px;
            padding: 5px;

            @include rwd(1200) {
                width: calc(100% / 3);
            }

            @include rwd(1024) {
                width: calc(100% / 4);
            }

            @include rwd(880) {
                width: calc(100% / 3);
            }

            @include rwd(670) {
                width: calc(100% / 2);
            }

            & > div {
                width: 100%;
                height: 100%;
                padding: 0 5px;
                background-color: #2b303bb7;
                border-radius: 3px;
                box-shadow: 2px 2px 4px #151922;
                transition: 0.3s;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &:active {
                    transform: translateY(1px);
                    box-shadow: unset;
                }
            }

            .type1,
            .type2 {
                margin-bottom: 8px;
                color: #a7b3f7;
            }

            .type2 {
                color: #f7c3a7;
            }
            p {
                line-height: 18px;
            }
        }
    }
}

// 充值中心
.buyBox {
    & > div {
        max-width: 500px;
        margin: auto;
    }

    & > div + div {
        margin-top: 50px;
    }
    .title {
        margin-bottom: 20px;
        padding-left: 5px;
        font-size: 16px;
        color: #7f838d;
    }
    .ipt {
        width: 100%;
        max-width: 400px;
        margin: auto;
        input,
        button {
            width: 100%;
            @include fullNone;
            border-radius: 3px;
            font-size: 16px;
        }

        input {
            height: 40px;
            margin-bottom: 10px;
            padding: 0 10px;
            background-color: #29303fb2;
            color: #d6d6d6;
            font-size: 16px;
            border-radius: 3px;
        }
        button {
            height: 50px;
            background-color: #ee6363bb;
            color: #fff;
            letter-spacing: 2px;
            cursor: pointer;
        }
        .ann {
            font-size: 0.9rem;
            padding-top: 10px;
            color: #5a5f6a;
            a {
                padding-bottom: 8px;
                display: block;
                color: #fff;
                font-size: 1.6rem;
                &:hover {
                    color: #fff;
                }
            }
            ul {
                list-style-type: decimal;
                padding-left: 20px;
            }
            li {
                list-style-type: decimal;
            }
            li + li {
                margin-top: 5px;
            }
        }
    }
}

.payBox {
    ul {
        width: 100%;
        background-color: transparent !important;
    }
    li {
        &::after {
            display: none;
        }
        .title {
            width: 100%;
            padding-bottom: 5px;
            color: #5a5f6a;
        }
        .msg {
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            background-color: #29303fb2;
            color: #d6d6d6;
            font-size: 15px;
            border-radius: 3px;
        }
        label {
            display: block !important;
        }
    }
    li + li {
        margin-top: 10px;
    }
    .patySel {
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        padding: 0 10px;
        background-color: #32405d9a;
        color: #fff;
        border-radius: 3px;
        option {
            background-color: #fff;
            color: #333;
        }
    }
    button {
        width: 100%;
        height: 40px;
        @include fullNone;
        background-color: #ee6363bb;
        color: #fff;
        letter-spacing: 2px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 3px;
    }
}

// 自訂常見問題分頁
.questionBox{
    .selBox{
        ul{
            display: flex;
            flex-wrap: wrap;
        }
        li{
            padding: 8px 25px;
            margin: 0 8px 8px 0;
            flex: 1;
            text-align: center;
            white-space:nowrap;
            border: 1px solid transparent;
            background-color: #29303f;
            box-shadow: 2px 2px 4px #121720;
            color: #a5a4ae;
            border-radius: 3px;
            cursor: pointer;
            transition: .3s;
            &.on{
                color: #e9575b;
                border-color: #e9575b;
            }

            &:active{
                transform: translateY(1px);
                box-shadow: unset;
            }
            @include hover{
                &:hover{
                    color: #e9575b;
                    border-color: #e9575b;
                }
            }
        }
    }
    .infoBox{
        color: #797d88;
        .info{        
            &>ul{
                &>li{
                    padding: 20px 0;
                    position: relative;
                }
                &>li+li{
                    &::before{
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: #3b4455;
                        position: absolute;
                        @include pos(tl,0);
                        transform: scaleY(0.5);
                    }
                }
            }
            .title{
                padding-bottom: 10px;
                color: #a0a4ae;
                font-size: 17px;
            }
            p{
                line-height: 20px;
            }
            .list{
                padding-left: 18px;
                li{
                    list-style-type: decimal;
                    line-height: 20px;
                }
                li+li{
                    margin-top: 6px;
                }
            }      
        }
    }
}


@include phone {
    .top-links,
    .member-links,
    .sidebar,
    .header,
    .navigation {
        display: none;
    }
    .questionBox{
        .selBox{
            li{
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #29303fa6;
            }
        }
        .infoBox{
            .info{
                .title{
                    color: #e5e5e5;
                }
            }
        }
    }

    // ===== 手機特別設定 body為special =====
    .special {
        .fed-close {
            display: block;
        }
        .container {
            height: 100vh;
            padding: 65px 20px 10px;
            display: flex;
            align-items: center;
            background: url(../img/loginBg.jpg) no-repeat center top/ cover;
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                @include pos(tl, 0);
                background-color: rgba(0, 0, 0, 0.85);
            }
            .fed-min {
                width: 100%;
                height: 100%;
                max-width: 600px;
                position: relative;
                z-index: 2;
                overflow-y: auto;
            }
        }
        .userTitle {
            padding: 0;
            margin-bottom: 20px;
            color: #999;
            font-size: 26px;
            line-height: 26px;
            font-weight: bold;
            letter-spacing: 5px;
            opacity: 0.7;
            text-align: left;
        }
        .fed-userBody {
            padding-bottom: 20px;
        }
        .leftBox {
            display: none;
        }
        .rightBox {
            background: transparent;
            padding: 0;
            .userForm {
                max-width: 100%;
            }
        }
    }

    // ===== 手機特別設定 body為noIndex =====
    .noIndex {
        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 100vh;
            position: fixed;
            @include pos(tl, 0);
        }
        &::before {
            background: url(/MDassets/img/loginBg.jpg) no-repeat center top/ cover;
        }
        &::after {
            background-color: rgba(0, 0, 0, 0.9);
        }
        .container {
            background: transparent;
            z-index: 2;
        }
        .fed-userBody {
            min-height: calc(100vh - 50px);
        }
        .leftBox {
            display: none;
        }
        .userTitle {
            background: linear-gradient(90deg, transparent, #242a38, transparent);
        }
    }
}
