@charset "UTF-8";
img {
  width: 100%;
  vertical-align: middle;
}

.tags-cloud,
.footer,
.footer-margin {
  display: none;
}

.container {
  padding: 0 10px;
  background-color: #1b1f29;
}

.content {
  max-width: 1200px;
  padding: 0;
}

.main-content {
  min-height: calc(100vh - 168px);
}

@media screen and (max-width: 1024px) {
  .main-content {
    min-height: calc(100vh - 211px);
  }
}

@media screen and (max-width: 640px) {
  .main-content {
    min-height: calc(100vh - 250px);
  }
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .main-content {
    min-height: calc(100vh - 210px);
    padding-bottom: 80px;
  }
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}

.list-videos .item .img {
  position: relative;
}

.list-videos .item .img::before {
  content: "";
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.6) url(/MDassets/img/play.png) no-repeat center/35%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (any-hover: hover) {
  .list-videos .item:hover [class*="ico-fav"] {
    display: none;
  }
  .list-videos .item:hover .img::before {
    opacity: 1;
  }
}

.no-touch .item .duration {
  color: #fff;
}

@media (any-hover: hover) {
  .no-touch .item:hover .title {
    color: #f55e63;
  }
}

.list-playlists .item,
.list-models .item,
.list-sponsors .item,
.list-channels .item,
.list-categories .item,
.list-albums .item,
.list-albums-images .item,
.list-videos .item,
.list-videos-screenshots .item {
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.list-playlists .item .duration,
.list-models .item .duration,
.list-sponsors .item .duration,
.list-channels .item .duration,
.list-categories .item .duration,
.list-albums .item .duration,
.list-albums-images .item .duration,
.list-videos .item .duration,
.list-videos-screenshots .item .duration {
  position: absolute;
  bottom: 2px;
  right: 5px;
}

.list-playlists .item .title,
.list-models .item .title,
.list-sponsors .item .title,
.list-channels .item .title,
.list-categories .item .title,
.list-albums .item .title,
.list-albums-images .item .title,
.list-videos .item .title,
.list-videos-screenshots .item .title {
  padding: 0.5rem 1rem 2rem;
  height: auto;
  margin: 0;
}

.list-playlists .item .wrap .views,
.list-models .item .wrap .views,
.list-sponsors .item .wrap .views,
.list-channels .item .wrap .views,
.list-categories .item .wrap .views,
.list-albums .item .wrap .views,
.list-albums-images .item .wrap .views,
.list-videos .item .wrap .views,
.list-videos-screenshots .item .wrap .views {
  padding-bottom: 1px;
  padding-left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.list-playlists .item .wrap .views::before,
.list-models .item .wrap .views::before,
.list-sponsors .item .wrap .views::before,
.list-channels .item .wrap .views::before,
.list-categories .item .wrap .views::before,
.list-albums .item .wrap .views::before,
.list-albums-images .item .wrap .views::before,
.list-videos .item .wrap .views::before,
.list-videos-screenshots .item .wrap .views::before {
  content: "";
  width: 15px;
  height: 10px;
  background: url(../img/redviews.png) no-repeat center/cover;
}

#gototop {
  right: 0px !important;
  bottom: 100px !important;
  z-index: 50;
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  #gototop {
    width: 60px;
    height: 60px;
  }
}

.block-video {
  padding-top: 20px;
  margin-bottom: 60px;
}

.block-video .headline {
  padding: 0;
}

.block-video .headline h1 {
  color: #A0A4AE;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

@media screen and (max-width: 785px) {
  .block-video .headline h1 {
    width: auto;
  }
}

.block-video .headline .addCollect {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background: url(/MDassets/img/heart.svg) no-repeat center/cover;
  position: relative;
  cursor: pointer;
}

@media (any-hover: hover) {
  .block-video .headline .addCollect:hover {
    background-image: url(/MDassets/img/heart_on.svg);
  }
}

.block-video .video-holder {
  background-color: transparent;
}

.block-video .player .player-wrap {
  height: 666px;
}

@media screen and (max-width: 1220px) {
  .block-video .player .player-wrap {
    height: 54.35vw;
  }
}

.block-video .info-buttons {
  display: none;
}

.block-video .tab-content {
  padding: 0;
}

.block-video .item:first-child {
  margin-bottom: 0;
}

.block-video .item span em {
  color: #6f727a;
}

.block-video .item a {
  background-color: #292f3b;
  color: #abaeb6;
  margin-top: 5px;
}

.block-video .item a:first-child {
  margin-left: 0;
}

.block-video .item + .item {
  margin-top: 10px;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .showVideo .content {
    padding-bottom: 80px;
  }
}

.top-links {
  width: 100%;
  padding: 12px 10px;
  background-color: #171b24;
  border-bottom: none;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .top-links {
    display: none;
  }
}

.top-links .center-hold {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-links .network {
  font-size: 1.4rem;
}

.top-links .network a {
  color: #686c75;
  padding: 0;
}

.top-links .network a::before {
  display: none;
}

@media screen and (max-width: 1255px) {
  .top-links .network {
    padding: 3px;
    text-align: unset;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

.top-links .network li {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #686c75;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (any-hover: hover) {
  .top-links .network li:hover {
    opacity: 0.7;
  }
}

.top-links .network li + li {
  margin-left: 40px;
}

.top-links .network li + li::before {
  content: "";
  width: 1px;
  height: 70%;
  margin: auto;
  background-color: #686c75;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
}

.top-links .network .icon {
  width: 16px;
  margin-right: 4px;
}

.header {
  background-color: transparent;
}

@media screen and (max-width: 1255px) {
  .header {
    padding: 10px 0;
  }
}

.header .header-inner {
  max-width: 1200px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header .header-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header .logo {
  width: 180px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

@media screen and (max-width: 1024px) {
  .header .logo {
    margin-bottom: 15px;
  }
}

.header .member-links {
  height: 40px;
  margin-left: unset;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .header .member-links {
    display: none;
  }
}

.header .member-links ul {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .member-links li {
  height: 100%;
  padding: 0;
  color: #b5b5b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .header .member-links li {
    padding: 5px 0;
  }
}

.header .member-links li a {
  margin: 0;
  padding: 5px 0 0;
  line-height: unset;
  color: #b5b5b5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (any-hover: hover) {
  .header .member-links li a:hover {
    color: unset;
    background: unset;
    opacity: 0.7;
  }
}

.header .member-links li span {
  padding: 5px 0 0;
  color: #b5b5b5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media (any-hover: hover) {
  .header .member-links li span:hover {
    color: unset;
    background: unset;
    opacity: 0.7;
  }
}

.header .member-links li .icon {
  width: 20px;
  margin-right: 5px;
}

.header .member-links li .icon.user {
  width: 18px;
}

.header .member-links li .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .member-links li .user div {
  position: relative;
}

.header .member-links li .user div + div {
  margin-left: 20px;
}

.header .member-links li .user div + div::before {
  content: "/";
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: -11px;
}

.header .member-links li + li {
  margin-left: 25px;
}

.header .member-links .userTool {
  position: relative;
}

.header .member-links .userTool:hover .hoverBox {
  display: block;
}

.header .member-links .userTool .hoverBox {
  width: 350px;
  background-color: #eafeff;
  color: #333;
  position: absolute;
  top: 100%;
  right: 5px;
  z-index: 9995;
  display: none;
}

.header .member-links .userTool .hoverBox .msg ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.header .member-links .userTool .hoverBox .msg li {
  width: calc(100% / 2);
  padding: 25px 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999;
}

.header .member-links .userTool .hoverBox .msg a {
  padding: 0;
}

@media (any-hover: hover) {
  .header .member-links .userTool .hoverBox .msg a:hover {
    opacity: 1;
  }
}

.header .member-links .userTool .hoverBox .msg .num {
  padding: 5px 0 10px;
  color: #f54b61;
  font-size: 2.2rem;
  font-weight: bold;
}

.header .member-links .userTool .hoverBox .msg .btn {
  padding: 8px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f78161), to(#f54f64));
  background: linear-gradient(180deg, #f78161, #f54f64);
  border-radius: 5px;
  -webkit-transition: border .3s;
  transition: border .3s;
  color: #fff;
}

.header .member-links .userTool .hoverBox .tool table {
  width: 100%;
  margin: 0;
  background: transparent;
  border-collapse: collapse;
}

.header .member-links .userTool .hoverBox .tool td {
  min-height: unset;
  padding: 0;
  line-height: unset;
  border: none;
  background: transparent;
  border: 1px solid #ddd;
}

.header .member-links .userTool .hoverBox .tool a {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  border-radius: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .member-links .userTool .hoverBox .tool .icon {
  width: 25px;
  margin-bottom: 3px;
}

.header + nav {
  padding: 0;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.navigation {
  max-width: 1200px;
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1152px) {
  .navigation .button {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .navigation {
    padding: 0;
  }
}

.navigation .primary {
  -webkit-box-flex: flex;
      -ms-flex: flex;
          flex: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navigation .primary.web {
  display: none;
}

.navigation .primary li:first-child {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

.navigation .primary a {
  color: #eafeff;
  padding-bottom: 8px;
}

@media (any-hover: hover) {
  .navigation .primary a:hover {
    color: #f66063 !important;
  }
}

.navigation .primary a::before {
  height: 2px;
  background-color: #f66063;
}

.navigation .primary li {
  font-size: 2.1rem;
}

.navigation .primary li.selected a {
  color: #f66063;
}

.navigation .primary li + li {
  margin-left: 35px;
}

@media screen and (max-width: 1152px) {
  .navigation .primary {
    padding: 0;
    position: relative;
    opacity: 1;
    background-color: transparent;
    -webkit-transform: unset;
            transform: unset;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    visibility: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

@media screen and (max-width: 1024px) {
  .navigation .primary {
    min-width: 100%;
    padding-bottom: 2px;
    border-bottom: 2px solid #999;
  }
  .navigation .primary li {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
  }
  .navigation .primary li + li {
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .navigation .primary li {
    font-size: 3.5vw;
  }
  .navigation .primary li + li {
    margin-left: 5px;
  }
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .navigation .primary.pc {
    display: none;
  }
  .navigation .primary.web {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation .search {
  margin-left: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #1e232f;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  padding: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .navigation .search {
    width: 100%;
    margin-bottom: 8px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0 !important;
  }
  .navigation .search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation .search .search-text {
    width: 100%;
  }
  .navigation .search .search-text input {
    width: 100%;
  }
}

.navigation .search .icon {
  width: 12px;
}

.navigation .search form {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0;
}

.navigation .search .search-text input {
  height: 35px;
  padding: 0 10px;
  border-radius: unset;
  background-color: transparent;
  color: #fff;
}

.navigation .search .search-text input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #1e232f inset !important;
          box-shadow: 0 0 0 50px #1e232f inset !important;
  -webkit-text-fill-color: #fff;
}

.navigation .search .search-button {
  width: 50px;
  height: 35px;
  position: relative;
  color: #fff;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f78161), to(#f54f64));
  background: linear-gradient(180deg, #f78161, #f54f64);
  text-indent: unset;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.fancybox-opened .fancybox-skin {
  background: transparent;
}

.fancybox-inner {
  width: 100% !important;
}

.fancybox-close {
  width: 22px;
  height: 22px;
  background: transparent;
}

.fancybox-close::after, .fancybox-close::before {
  content: '';
  width: 100%;
  height: 1px;
  margin: auto;
  background-color: #a0a4ae;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.fancybox-close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fancybox-close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-title {
  padding: 60px 20px 20px;
  font-size: 24px;
  font-weight: bold;
  color: #a0a4ae;
  letter-spacing: 1px;
}

.fancybox-wrap {
  width: 100% !important;
  max-width: 420px !important;
  background-color: #242A37;
}

.fancybox-wrap .fancybox-skin {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.popup-holder {
  padding: 0 20px 20px;
  background: transparent;
}

.popup-holder .row {
  width: 100%;
}

.popup-holder .row input {
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  background: #29303F;
  color: #a0a4ae;
  font-weight: bold;
}

.popup-holder .row input::-webkit-input-placeholder {
  color: #a0a4ae;
}

.popup-holder .row input:-ms-input-placeholder {
  color: #a0a4ae;
}

.popup-holder .row input::-ms-input-placeholder {
  color: #a0a4ae;
}

.popup-holder .row input::placeholder {
  color: #a0a4ae;
}

.popup-holder .row input:-webkit-autofill {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-box-shadow: 0 0 0 40px #353e50 inset !important;
          box-shadow: 0 0 0 40px #353e50 inset !important;
  -webkit-text-fill-color: #fff;
}

.popup-holder .bottom {
  width: 100%;
  padding-top: 20px;
}

.popup-holder .bottom .submit {
  width: 100%;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  background-color: #eb4a76;
  border-radius: 5px;
}

.popup-holder .bottom .links {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-holder .bottom .links a {
  color: #eb4a76 !important;
}

.no-touch form .submit:hover {
  background: #a5284a !important;
}

.diaCode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.diaCode .textfield {
  width: 100% !important;
  border-radius: 3px 0 0 3px;
  background: #29303F;
  border: none;
}

.diaCode .textfield::-webkit-input-placeholder {
  color: #a0a4ae;
}

.diaCode .textfield:-ms-input-placeholder {
  color: #a0a4ae;
}

.diaCode .textfield::-ms-input-placeholder {
  color: #a0a4ae;
}

.diaCode .textfield::placeholder {
  color: #a0a4ae;
}

.diaCode img {
  width: 120px !important;
  height: 40px !important;
  margin: 0 !important;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swipslider {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 0;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 1200px) {
  .swipslider {
    margin: 10px auto 0;
    height: calc(100vw * 0.3333);
  }
}

.sw-slides {
  display: block;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: absolute;
  bottom: 0;
}

.sw-slide {
  width: 100%;
  height: 100%;
  margin: auto;
  display: inline-block;
  position: relative;
}

.sw-slide .sw-content {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
}

.sw-slide > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -1;
}

.sw-next-prev {
  font-family: "Courier New", Courier, monospace;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  line-height: 50px;
  font-size: 30px;
  font-weight: bolder;
  color: rgba(160, 160, 160, 0.53);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sw-next-prev:active {
  background-color: rgba(255, 255, 255, 0.5);
}

@media (any-hover: hover) {
  .sw-next-prev:hover {
    background-color: rgba(255, 255, 255, 0.74);
  }
}

.sw-prev {
  left: 2%;
}

.sw-prev::after {
  content: "<";
}

.sw-next {
  right: 2%;
}

.sw-next::after {
  content: ">";
}

.sw-bullet {
  position: absolute;
  bottom: 2%;
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.sw-bullet li {
  width: 10px;
  height: 10px;
  background-color: rgba(160, 160, 160, 0.53);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sw-bullet li:hover {
  background-color: rgba(255, 255, 255, 0.74);
}

.sw-bullet li.active {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 2px rgba(160, 160, 160, 0.53);
          box-shadow: 0 0 2px rgba(160, 160, 160, 0.53);
}

.sw-bullet li:not(:last-child) {
  margin-right: 5px;
}

.M_Tool {
  min-height: 100vh;
  padding: 0 10px 80px;
  background-color: #242a38;
  color: #888;
}

.M_Tool .mainTitle {
  padding: 15px 10px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
}

.M_Tool .annBox {
  margin-bottom: 10px;
  padding: 15px 20px 30px;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.M_Tool .annBox .title {
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.M_Tool .annBox ul {
  list-style-type: decimal;
  margin-left: 10px;
}

.M_Tool .annBox li {
  line-height: 16px;
  color: #5a5f6a;
}

.M_Tool .annBox li + li {
  margin-top: 6px;
}

.M_Tool .infoBox {
  margin-bottom: 10px;
  border-radius: 5px;
  background: url(../img/my_bg.jpg) no-repeat center/100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.M_Tool .infoBox .msg {
  padding: 30px 0;
  height: calc(100% - 35px);
}

.M_Tool .infoBox .msg ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
}

.M_Tool .infoBox .msg li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.M_Tool .infoBox .msg .num {
  padding: 3px 0;
  color: #f54b61;
  font-size: 3rem;
  font-weight: bold;
}

.M_Tool .infoBox .msg .btn {
  padding: 5px 10px;
  border: 1px solid #888;
  border-radius: 5px;
}

.M_Tool .infoBox .name {
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  color: #eafeff;
  background-color: rgba(0, 0, 0, 0.3);
}

.M_Tool .toolList {
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.M_Tool .toolList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.M_Tool .toolList li {
  width: calc(100% / 4);
}

.M_Tool .toolList li a {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #90949f;
  font-size: 1.5rem;
}

.M_Tool .toolList .icon {
  width: 22px;
  height: 22px;
  margin-bottom: 8px;
  position: relative;
}

.M_Tool .copyList {
  margin-bottom: 20px;
  color: #5a5f6a;
}

.M_Tool .copyList li + li {
  margin-top: 10px;
}

.M_Tool .copyList span {
  padding-left: 5px;
  display: block;
  padding-bottom: 3px;
  position: relative;
}

.M_Tool .copyList span::after {
  content: "：";
  padding-left: 2px;
}

.M_Tool .copyList .item {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #29303f;
  border-radius: 3px;
  overflow: hidden;
}

.M_Tool .copyList input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background: transparent;
  outline: none;
  border: none;
  color: #d6d6d6;
}

.M_Tool .copyList .copyBtn {
  height: 100%;
  padding: 0 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #e6455d;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.M_Tool .tipList {
  font-size: 0.8rem;
  color: #5a5f6a;
}

.M_Tool .tipList ul {
  list-style-type: decimal;
  margin-left: 15px;
}

.M_Tool .tipList li {
  line-height: 20px;
}

.M_Tool .tipList li + li {
  margin-top: 5px;
}

.M_menu {
  width: 100%;
  height: 55px;
  background-color: #242a38;
  -webkit-box-shadow: 0 -1px 4px #000;
          box-shadow: 0 -1px 4px #000;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 90;
  display: none;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .M_menu {
    display: block;
  }
}

.M_menu ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.M_menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.M_menu li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.M_menu li.on span {
  color: #c55355;
}

.M_menu li.on .icon.home {
  background-image: url(../img/fhome_active.png);
}

.M_menu li.on .icon.find {
  background-image: url(../img/ffind_active.png);
}

.M_menu li.on .icon.topic {
  background-image: url(../img/ftopic_active.png);
}

.M_menu li.on .icon.user {
  background-image: url(../img/fuser_active.png);
}

.M_menu .icon {
  width: 20px;
  height: 20px;
  margin: 0 auto 5px;
  background: no-repeat center / cover;
}

.M_menu .icon.home {
  background-image: url(../img/fhome.png);
}

.M_menu .icon.find {
  background-image: url(../img/ffind.png);
}

.M_menu .icon.topic {
  background-image: url(../img/ftopic.png);
}

.M_menu .icon.user {
  background-image: url(../img/fuser.png);
}

.M_menu span {
  color: #999;
}

.M_jump {
  padding: 0;
  margin: 0;
}

.M_jump .mac_msg_jump {
  width: 100%;
  max-width: unset;
  height: 100vh;
  min-height: unset;
  max-width: auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
  color: #818181;
  background: url(../img/loginBg.jpg) no-repeat center top/cover;
  position: relative;
}

.M_jump .mac_msg_jump .jump_cnt {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777;
  font-size: 0.95rem;
}

.M_jump .mac_msg_jump .jump_info {
  width: 100%;
  padding: 30px 20px;
  border: 1px solid #ad4647;
  -webkit-box-shadow: 0 0 10px #aa484a;
          box-shadow: 0 0 10px #aa484a;
  text-align: center;
  background-color: #5715164f;
}

.M_jump .mac_msg_jump a {
  color: #f78161;
}

.M_jump .mac_msg_jump .msg_jump_tit {
  margin: 0 0 30px;
  color: #ad4647;
  font-size: 1.6rem;
  font-weight: bold;
  opacity: 0.8;
}

.fed-min-width {
  background: url(../img/loginBg.jpg) no-repeat center top/cover;
}

.fed-min-width .fed-close {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  display: block;
}

.fed-min-width .fed-close::before, .fed-min-width .fed-close::after {
  content: "";
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: #999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.fed-min-width .fed-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fed-min-width .fed-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.fed-min-width .container {
  height: 100vh;
  padding: 65px 20px 10px;
  background-color: rgba(0, 0, 0, 0.85);
}

.fed-min-width .fed-min {
  width: 100%;
  max-width: 600px;
  max-height: calc(100vh - 65px);
  overflow: auto;
}

.fed-min-width form {
  overflow: auto;
}

.fed-min-width .fed-part-height {
  height: unset;
  min-height: unset;
  background-color: transparent !important;
}

.fed-min-width .fed-part-layout {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.fed-min-width .fed-part-core {
  padding: 0;
  position: unset;
  -webkit-transform: unset;
          transform: unset;
  top: 0;
  left: 0;
}

.fed-min-width .loginTitle {
  margin-bottom: 15px;
  color: #999;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  letter-spacing: 5px;
  opacity: 0.7;
}

.fed-min-width input {
  height: 45px;
  border-radius: 5px;
  font-weight: bold;
  color: #999 !important;
  background-color: rgba(85, 85, 85, 0.5);
  border-bottom: none;
  font-size: 0.95rem;
}

.fed-min-width input:-webkit-autofill {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-box-shadow: 0 0 0 50px rgba(85, 85, 85, 0.5) inset !important;
          box-shadow: 0 0 0 50px rgba(85, 85, 85, 0.5) inset !important;
  -webkit-text-fill-color: #333;
  opacity: 0.5;
}

.fed-min-width input#verify {
  border-radius: 5px 0 0 5px;
}

.fed-min-width input + input {
  margin-top: 10px;
}

.fed-min-width .fed-btn {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #ccc;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#9f2f54), to(#ad4647));
  background: linear-gradient(90deg, #9f2f54, #ad4647);
}

.fed-min-width a {
  color: #ad4647;
  font-weight: bold;
}

.fed-min-width .fed-user-code {
  margin-top: 10px;
}

@media (min-width: 48rem) {
  .fed-part-case {
    width: auto !important;
  }
}
/*# sourceMappingURL=systemSelf.css.map */