@charset "UTF-8";
img {
  width: 100%;
  vertical-align: middle;
}

.tags-cloud,
.footer,
.footer-margin {
  display: none;
}

.container {
  padding: 0 10px;
  background-color: #1b1f29;
}

.content {
  max-width: 1200px;
  padding: 0;
}

.main-content {
  min-height: calc(100vh - 168px);
}

@media screen and (max-width: 1024px) {
  .main-content {
    min-height: calc(100vh - 211px);
  }
}

@media screen and (max-width: 640px) {
  .main-content {
    min-height: calc(100vh - 250px);
  }
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .main-content {
    min-height: calc(100vh - 210px);
    padding-bottom: 80px;
  }
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}

.list-videos .item .img {
  position: relative;
}

.list-videos .item .img::before {
  content: "";
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.6) url(/MDassets/img/play.png) no-repeat center/35%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (any-hover: hover) {
  .list-videos .item:hover [class*="ico-fav"] {
    display: none;
  }
  .list-videos .item:hover .img::before {
    opacity: 1;
  }
}

.no-touch .item .duration {
  color: #fff;
}

@media (any-hover: hover) {
  .no-touch .item:hover .title {
    color: #f55e63;
  }
}

.list-playlists .item,
.list-models .item,
.list-sponsors .item,
.list-channels .item,
.list-categories .item,
.list-albums .item,
.list-albums-images .item,
.list-videos .item,
.list-videos-screenshots .item {
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.list-playlists .item .duration,
.list-models .item .duration,
.list-sponsors .item .duration,
.list-channels .item .duration,
.list-categories .item .duration,
.list-albums .item .duration,
.list-albums-images .item .duration,
.list-videos .item .duration,
.list-videos-screenshots .item .duration {
  position: absolute;
  bottom: 2px;
  right: 5px;
}

.list-playlists .item .title,
.list-models .item .title,
.list-sponsors .item .title,
.list-channels .item .title,
.list-categories .item .title,
.list-albums .item .title,
.list-albums-images .item .title,
.list-videos .item .title,
.list-videos-screenshots .item .title {
  padding: 0.5rem 1rem 2rem;
  height: auto;
  margin: 0;
}

.list-playlists .item .wrap .views,
.list-models .item .wrap .views,
.list-sponsors .item .wrap .views,
.list-channels .item .wrap .views,
.list-categories .item .wrap .views,
.list-albums .item .wrap .views,
.list-albums-images .item .wrap .views,
.list-videos .item .wrap .views,
.list-videos-screenshots .item .wrap .views {
  padding-bottom: 1px;
  padding-left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.list-playlists .item .wrap .views::before,
.list-models .item .wrap .views::before,
.list-sponsors .item .wrap .views::before,
.list-channels .item .wrap .views::before,
.list-categories .item .wrap .views::before,
.list-albums .item .wrap .views::before,
.list-albums-images .item .wrap .views::before,
.list-videos .item .wrap .views::before,
.list-videos-screenshots .item .wrap .views::before {
  content: "";
  width: 15px;
  height: 10px;
  background: url(../img/redviews.png) no-repeat center/cover;
}

#gototop {
  right: 0px !important;
  bottom: 100px !important;
  z-index: 50;
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  #gototop {
    width: 60px;
    height: 60px;
  }
}

.block-video {
  padding-top: 20px;
  margin-bottom: 60px;
}

.block-video .headline {
  padding: 0;
}

.block-video .headline h1 {
  color: #A0A4AE;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

@media screen and (max-width: 785px) {
  .block-video .headline h1 {
    width: auto;
  }
}

.block-video .headline .addCollect {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background: url(/MDassets/img/heart.svg) no-repeat center/cover;
  position: relative;
  cursor: pointer;
}

@media (any-hover: hover) {
  .block-video .headline .addCollect:hover {
    background-image: url(/MDassets/img/heart_on.svg);
  }
}

.block-video .video-holder {
  background-color: transparent;
}

.block-video .player .player-wrap {
  height: 666px;
}

@media screen and (max-width: 1220px) {
  .block-video .player .player-wrap {
    height: 54.35vw;
  }
}

.block-video .info-buttons {
  display: none;
}

.block-video .tab-content {
  padding: 0;
}

.block-video .item:first-child {
  margin-bottom: 0;
}

.block-video .item span em {
  color: #6f727a;
}

.block-video .item a {
  background-color: #292f3b;
  color: #abaeb6;
  margin-top: 5px;
}

.block-video .item a:first-child {
  margin-left: 0;
}

.block-video .item + .item {
  margin-top: 10px;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .showVideo .content {
    padding-bottom: 80px;
  }
}

.top-links {
  width: 100%;
  padding: 12px 10px;
  background-color: #171b24;
  border-bottom: none;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .top-links {
    display: none;
  }
}

.top-links .center-hold {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-links .network {
  font-size: 1.4rem;
}

.top-links .network a {
  color: #686c75;
  padding: 0;
}

.top-links .network a::before {
  display: none;
}

@media screen and (max-width: 1255px) {
  .top-links .network {
    padding: 3px;
    text-align: unset;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

.top-links .network li {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #686c75;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (any-hover: hover) {
  .top-links .network li:hover {
    opacity: 0.7;
  }
}

.top-links .network li + li {
  margin-left: 40px;
}

.top-links .network li + li::before {
  content: "";
  width: 1px;
  height: 70%;
  margin: auto;
  background-color: #686c75;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
}

.top-links .network .icon {
  width: 16px;
  margin-right: 4px;
}

.header {
  background-color: transparent;
}

@media screen and (max-width: 1255px) {
  .header {
    padding: 10px 0;
  }
}

.header .header-inner {
  max-width: 1200px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header .header-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header .logo {
  width: 180px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

@media screen and (max-width: 1024px) {
  .header .logo {
    margin-bottom: 15px;
  }
}

.header .member-links {
  height: 40px;
  margin-left: unset;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .header .member-links {
    display: none;
  }
}

.header .member-links ul {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .member-links li {
  height: 100%;
  padding: 0;
  color: #b5b5b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .header .member-links li {
    padding: 5px 0;
  }
}

.header .member-links li a {
  margin: 0;
  padding: 5px 0 0;
  line-height: unset;
  color: #b5b5b5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (any-hover: hover) {
  .header .member-links li a:hover {
    color: unset;
    background: unset;
    opacity: 0.7;
  }
}

.header .member-links li span {
  padding: 5px 0 0;
  color: #b5b5b5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media (any-hover: hover) {
  .header .member-links li span:hover {
    color: unset;
    background: unset;
    opacity: 0.7;
  }
}

.header .member-links li .icon {
  width: 20px;
  margin-right: 5px;
}

.header .member-links li .icon.user {
  width: 18px;
}

.header .member-links li .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .member-links li .user div {
  position: relative;
}

.header .member-links li .user div + div {
  margin-left: 20px;
}

.header .member-links li .user div + div::before {
  content: "/";
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: -11px;
}

.header .member-links li + li {
  margin-left: 25px;
}

.header .member-links .userTool {
  position: relative;
}

.header .member-links .userTool:hover .hoverBox {
  display: block;
}

.header .member-links .userTool .hoverBox {
  width: 350px;
  background-color: #eafeff;
  color: #333;
  position: absolute;
  top: 100%;
  right: 5px;
  z-index: 9995;
  display: none;
}

.header .member-links .userTool .hoverBox .msg ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.header .member-links .userTool .hoverBox .msg li {
  width: calc(100% / 2);
  padding: 25px 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999;
}

.header .member-links .userTool .hoverBox .msg a {
  padding: 0;
}

@media (any-hover: hover) {
  .header .member-links .userTool .hoverBox .msg a:hover {
    opacity: 1;
  }
}

.header .member-links .userTool .hoverBox .msg .num {
  padding: 5px 0 10px;
  color: #f54b61;
  font-size: 2.2rem;
  font-weight: bold;
}

.header .member-links .userTool .hoverBox .msg .btn {
  padding: 8px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f78161), to(#f54f64));
  background: linear-gradient(180deg, #f78161, #f54f64);
  border-radius: 5px;
  -webkit-transition: border .3s;
  transition: border .3s;
  color: #fff;
}

.header .member-links .userTool .hoverBox .tool table {
  width: 100%;
  margin: 0;
  background: transparent;
  border-collapse: collapse;
}

.header .member-links .userTool .hoverBox .tool td {
  min-height: unset;
  padding: 0;
  line-height: unset;
  border: none;
  background: transparent;
  border: 1px solid #ddd;
}

.header .member-links .userTool .hoverBox .tool a {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  border-radius: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .member-links .userTool .hoverBox .tool .icon {
  width: 25px;
  margin-bottom: 3px;
}

.header + nav {
  padding: 0;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.navigation {
  max-width: 1200px;
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1152px) {
  .navigation .button {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .navigation {
    padding: 0;
  }
}

.navigation .primary {
  -webkit-box-flex: flex;
      -ms-flex: flex;
          flex: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navigation .primary.web {
  display: none;
}

.navigation .primary li:first-child {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

.navigation .primary a {
  color: #eafeff;
  padding-bottom: 8px;
}

@media (any-hover: hover) {
  .navigation .primary a:hover {
    color: #f66063 !important;
  }
}

.navigation .primary a::before {
  height: 2px;
  background-color: #f66063;
}

.navigation .primary li {
  font-size: 2.1rem;
}

.navigation .primary li.selected a {
  color: #f66063;
}

.navigation .primary li + li {
  margin-left: 35px;
}

@media screen and (max-width: 1152px) {
  .navigation .primary {
    padding: 0;
    position: relative;
    opacity: 1;
    background-color: transparent;
    -webkit-transform: unset;
            transform: unset;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    visibility: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

@media screen and (max-width: 1024px) {
  .navigation .primary {
    min-width: 100%;
    padding-bottom: 2px;
    border-bottom: 2px solid #999;
  }
  .navigation .primary li {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
  }
  .navigation .primary li + li {
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .navigation .primary li {
    font-size: 3.5vw;
  }
  .navigation .primary li + li {
    margin-left: 5px;
  }
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .navigation .primary.pc {
    display: none;
  }
  .navigation .primary.web {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation .search {
  margin-left: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #1e232f;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  padding: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .navigation .search {
    width: 100%;
    margin-bottom: 8px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0 !important;
  }
  .navigation .search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation .search .search-text {
    width: 100%;
  }
  .navigation .search .search-text input {
    width: 100%;
  }
}

.navigation .search .icon {
  width: 12px;
}

.navigation .search form {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0;
}

.navigation .search .search-text input {
  height: 35px;
  padding: 0 10px;
  border-radius: unset;
  background-color: transparent;
  color: #fff;
}

.navigation .search .search-text input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #1e232f inset !important;
          box-shadow: 0 0 0 50px #1e232f inset !important;
  -webkit-text-fill-color: #fff;
}

.navigation .search .search-button {
  width: 50px;
  height: 35px;
  position: relative;
  color: #fff;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f78161), to(#f54f64));
  background: linear-gradient(180deg, #f78161, #f54f64);
  text-indent: unset;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.fancybox-opened .fancybox-skin {
  background: transparent;
}

.fancybox-inner {
  width: 100% !important;
}

.fancybox-close {
  width: 22px;
  height: 22px;
  background: transparent;
}

.fancybox-close::after, .fancybox-close::before {
  content: '';
  width: 100%;
  height: 1px;
  margin: auto;
  background-color: #a0a4ae;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.fancybox-close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fancybox-close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-title {
  padding: 60px 20px 20px;
  font-size: 24px;
  font-weight: bold;
  color: #a0a4ae;
  letter-spacing: 1px;
}

.fancybox-wrap {
  width: 100% !important;
  max-width: 420px !important;
  background-color: #242A37;
}

.fancybox-wrap .fancybox-skin {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.popup-holder {
  padding: 0 20px 20px;
  background: transparent;
}

.popup-holder .row {
  width: 100%;
}

.popup-holder .row input {
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  background: #29303F;
  color: #a0a4ae;
  font-weight: bold;
}

.popup-holder .row input::-webkit-input-placeholder {
  color: #a0a4ae;
}

.popup-holder .row input:-ms-input-placeholder {
  color: #a0a4ae;
}

.popup-holder .row input::-ms-input-placeholder {
  color: #a0a4ae;
}

.popup-holder .row input::placeholder {
  color: #a0a4ae;
}

.popup-holder .row input:-webkit-autofill {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-box-shadow: 0 0 0 40px #353e50 inset !important;
          box-shadow: 0 0 0 40px #353e50 inset !important;
  -webkit-text-fill-color: #fff;
}

.popup-holder .bottom {
  width: 100%;
  padding-top: 20px;
}

.popup-holder .bottom .submit {
  width: 100%;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  background-color: #eb4a76;
  border-radius: 5px;
}

.popup-holder .bottom .links {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-holder .bottom .links a {
  color: #eb4a76 !important;
}

.no-touch form .submit:hover {
  background: #a5284a !important;
}

.diaCode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.diaCode .textfield {
  width: 100% !important;
  border-radius: 3px 0 0 3px;
  background: #29303F;
  border: none;
}

.diaCode .textfield::-webkit-input-placeholder {
  color: #a0a4ae;
}

.diaCode .textfield:-ms-input-placeholder {
  color: #a0a4ae;
}

.diaCode .textfield::-ms-input-placeholder {
  color: #a0a4ae;
}

.diaCode .textfield::placeholder {
  color: #a0a4ae;
}

.diaCode img {
  width: 120px !important;
  height: 40px !important;
  margin: 0 !important;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.M_menu {
  width: 100%;
  height: 55px;
  background-color: #242a38;
  -webkit-box-shadow: 0 -1px 4px #000;
          box-shadow: 0 -1px 4px #000;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 90;
  display: none;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .M_menu {
    display: block;
  }
}

.M_menu ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.M_menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.M_menu li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.M_menu li.on span {
  color: #c55355;
}

.M_menu li.on .icon.home {
  background-image: url(../img/fhome_active.png);
}

.M_menu li.on .icon.find {
  background-image: url(../img/ffind_active.png);
}

.M_menu li.on .icon.topic {
  background-image: url(../img/ftopic_active.png);
}

.M_menu li.on .icon.user {
  background-image: url(../img/fuser_active.png);
}

.M_menu .icon {
  width: 20px;
  height: 20px;
  margin: 0 auto 5px;
  background: no-repeat center / cover;
}

.M_menu .icon.home {
  background-image: url(../img/fhome.png);
}

.M_menu .icon.find {
  background-image: url(../img/ffind.png);
}

.M_menu .icon.topic {
  background-image: url(../img/ftopic.png);
}

.M_menu .icon.user {
  background-image: url(../img/fuser.png);
}

.M_menu span {
  color: #999;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1152px) {
  html {
    font-size: 58.5%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 52.5%;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 47.5%;
  }
}

body {
  font: 400 14px/1.2 "Roboto", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.fed-min {
  max-width: 1200px;
  margin: auto;
}

.userTitle {
  height: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
  display: none;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .userTitle {
    display: block;
  }
}

.fed-userBody {
  padding: 70px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .fed-userBody {
    padding: 20px 0 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: transparent;
  }
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .fed-userBody {
    padding: 0 0 80px;
  }
}

.fed-userBody .leftBox {
  width: 240px;
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
  .fed-userBody .leftBox {
    width: 100%;
  }
}

.fed-userBody .leftBox .infoBox {
  padding: 30px 0;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #888;
  background: url(../img/my_bg.jpg) no-repeat center/100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .fed-userBody .leftBox .infoBox {
    margin-bottom: 15px;
    padding: 20px 0 0;
    overflow: hidden;
  }
}

.fed-userBody .leftBox .infoBox .msg {
  padding: 30px 0;
  height: calc(100% - 35px);
}

.fed-userBody .leftBox .infoBox .msg a {
  color: #888;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (any-hover: hover) {
  .fed-userBody .leftBox .infoBox .msg a:hover {
    color: #fff;
  }
  .fed-userBody .leftBox .infoBox .msg a:hover .btn {
    border: 1px solid #fff;
  }
}

.fed-userBody .leftBox .infoBox .msg ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
}

.fed-userBody .leftBox .infoBox .msg li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fed-userBody .leftBox .infoBox .msg .num {
  padding: 3px 0;
  color: #f54b61;
  font-size: 2.2rem;
  font-weight: bold;
}

.fed-userBody .leftBox .infoBox .msg .btn {
  padding: 5px 10px;
  border: 1px solid #888;
  border-radius: 5px;
  display: none;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

@media screen and (max-width: 1024px) {
  .fed-userBody .leftBox .infoBox .msg .btn {
    display: block;
    cursor: pointer;
  }
  .fed-userBody .leftBox .infoBox .msg .num {
    font-size: 3rem;
  }
}

.fed-userBody .leftBox .infoBox .name {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #eafeff;
}

@media screen and (max-width: 1024px) {
  .fed-userBody .leftBox .infoBox .name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 35px;
    line-height: 35px;
    font-size: 1.7rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.fed-userBody .leftBox .infoBox .vipBtn {
  width: 60%;
  margin: auto;
  padding: 12px 0;
  text-align: center;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7c3a7), to(#b38d79));
  background: linear-gradient(180deg, #f7c3a7, #b38d79);
}

.fed-userBody .leftBox .infoBox .vipBtn:hover {
  color: #fff;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media screen and (max-width: 1024px) {
  .fed-userBody .leftBox .infoBox .vipBtn {
    display: none;
  }
}

.fed-userBody .leftBox .userMenu {
  border-radius: 5px;
  background-color: #1f242f;
}

@media screen and (max-width: 1024px) {
  .fed-userBody .leftBox .userMenu {
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 1024px) {
  .fed-userBody .leftBox .userMenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.fed-userBody .leftBox .userMenu li a {
  width: 100%;
  height: 55px;
  line-height: 55px;
  display: block;
  color: #a0a4ae;
  font-size: 1.6rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}

.fed-userBody .leftBox .userMenu li a:hover {
  color: #f66063;
}

@media screen and (max-width: 1024px) {
  .fed-userBody .leftBox .userMenu li {
    width: calc(100% / 4);
  }
  .fed-userBody .leftBox .userMenu li a {
    width: 100%;
    height: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #90949f;
    font-size: 1.5rem;
  }
  .fed-userBody .leftBox .userMenu li a:hover {
    color: #90949f;
  }
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .fed-userBody .leftBox .userMenu li.index {
    display: none;
  }
}

.fed-userBody .leftBox .userMenu .icon {
  width: 22px;
  height: 22px;
  margin-bottom: 8px;
  position: relative;
  display: none;
}

@media screen and (max-width: 1024px) {
  .fed-userBody .leftBox .userMenu .icon {
    display: block;
  }
}

.fed-userBody .rightBox {
  width: 100%;
  padding: 30px 20px;
  background-color: #1f242f;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .fed-userBody .rightBox {
    padding: 20px 10px;
    background: transparent;
  }
}

.fed-userBody .rightBox .copyList {
  margin-bottom: 40px;
  color: #5a5f6a;
}

.fed-userBody .rightBox .copyList p {
  font-size: 1.5rem;
  padding-bottom: 20px;
  color: #a5a4ae;
}

.fed-userBody .rightBox .copyList li + li {
  margin-top: 10px;
}

.fed-userBody .rightBox .copyList span {
  display: block;
  padding-bottom: 3px;
  position: relative;
}

.fed-userBody .rightBox .copyList span::after {
  content: "：";
  padding-left: 2px;
}

.fed-userBody .rightBox .copyList .item {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #29303f;
  border-radius: 3px;
  overflow: hidden;
}

.fed-userBody .rightBox .copyList input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background: transparent;
  outline: none;
  border: none;
  color: #a5a4ae;
}

.fed-userBody .rightBox .copyList .copyBtn {
  height: 100%;
  padding: 0 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #e6455d;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.fed-userBody .rightBox .tipList {
  font-size: 0.9rem;
  color: #5a5f6a;
}

.fed-userBody .rightBox .tipList ul {
  list-style-type: decimal;
  margin-left: 15px;
}

.fed-userBody .rightBox .tipList li {
  list-style-type: decimal;
  line-height: 20px;
}

.fed-userBody .rightBox .tipList li + li {
  margin-top: 5px;
}

.fed-userBody .rightBox form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userForm {
  width: 100%;
  max-width: 340px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.userForm .userIpt {
  width: 100%;
}

.userForm .userIpt li + li {
  margin-top: 15px;
}

.userForm .userIpt input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #d6d6d6;
  background-color: rgba(85, 85, 85, 0.2);
}

.userForm .userIpt input:-webkit-autofill {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-box-shadow: 0 0 0 50px rgba(85, 85, 85, 0.5) inset !important;
          box-shadow: 0 0 0 50px rgba(85, 85, 85, 0.5) inset !important;
  -webkit-text-fill-color: #333;
  opacity: 0.5;
}

.userForm .userBtn {
  padding-top: 30px;
}

.userForm .userBtn .btn {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  height: 40px;
  color: #ccc;
  background-color: #a93445;
  border-radius: 5px;
  cursor: pointer;
}

.fed-close {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.fed-close::before, .fed-close::after {
  content: "";
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: #999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.fed-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fed-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btnBox {
  margin-bottom: 5px;
  padding: 0 5px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid #485062;
}

.btnBox .clearBtn {
  padding: 5px 20px;
  border-radius: 3px;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7c3a7), to(#b38d79));
  background: linear-gradient(180deg, #f7c3a7, #b38d79);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (any-hover: hover) {
  .btnBox .clearBtn:hover {
    opacity: 0.8;
  }
}

.noData {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noData .icon {
  width: 200px;
}

.noData p {
  padding-top: 15px;
  color: #5e626c;
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.recordList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recordList li {
  width: calc(100% / 4);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1160px) {
  .recordList li {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 1024px) {
  .recordList li {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 880px) {
  .recordList li {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 670px) {
  .recordList li {
    width: calc(100% / 2);
  }
}

.recordList li a {
  width: 100%;
  height: 100%;
  padding: 5px 5px 20px;
  display: block;
}

@media (any-hover: hover) {
  .recordList li a:hover {
    color: #f55e63;
  }
  .recordList li a:hover .picBox::before {
    opacity: 1;
  }
}

.recordList li .picBox {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #212121;
  position: relative;
  overflow: hidden;
}

.recordList li .picBox::before {
  content: "";
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.6) url(/MDassets/img/play.png) no-repeat center/35%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.recordList li .picBox img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.recordList li .title {
  display: block;
  padding-top: 5px;
}

.recharge .title {
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 16px;
  color: #7f838d;
}

.recharge .list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recharge .list li {
  width: calc(100% / 4);
  height: 120px;
  padding: 5px;
}

@media screen and (max-width: 1200px) {
  .recharge .list li {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 1024px) {
  .recharge .list li {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 880px) {
  .recharge .list li {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 670px) {
  .recharge .list li {
    width: calc(100% / 2);
  }
}

.recharge .list li > div {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  background-color: #2b303bb7;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px #151922;
          box-shadow: 2px 2px 4px #151922;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.recharge .list li > div:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.recharge .list li .type1,
.recharge .list li .type2 {
  margin-bottom: 8px;
  color: #a7b3f7;
}

.recharge .list li .type2 {
  color: #f7c3a7;
}

.recharge .list li p {
  line-height: 18px;
}

.buyBox > div {
  max-width: 500px;
  margin: auto;
}

.buyBox > div + div {
  margin-top: 50px;
}

.buyBox .title {
  margin-bottom: 20px;
  padding-left: 5px;
  font-size: 16px;
  color: #7f838d;
}

.buyBox .ipt {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.buyBox .ipt input,
.buyBox .ipt button {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

.buyBox .ipt input {
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #29303fb2;
  color: #d6d6d6;
  font-size: 16px;
  border-radius: 3px;
}

.buyBox .ipt button {
  height: 50px;
  background-color: #ee6363bb;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}

.buyBox .ipt .ann {
  font-size: 0.9rem;
  padding-top: 10px;
  color: #5a5f6a;
}

.buyBox .ipt .ann a {
  padding-bottom: 8px;
  display: block;
  color: #fff;
  font-size: 1.6rem;
}

.buyBox .ipt .ann a:hover {
  color: #fff;
}

.buyBox .ipt .ann ul {
  list-style-type: decimal;
  padding-left: 20px;
}

.buyBox .ipt .ann li {
  list-style-type: decimal;
}

.buyBox .ipt .ann li + li {
  margin-top: 5px;
}

.payBox ul {
  width: 100%;
  background-color: transparent !important;
}

.payBox li::after {
  display: none;
}

.payBox li .title {
  width: 100%;
  padding-bottom: 5px;
  color: #5a5f6a;
}

.payBox li .msg {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #29303fb2;
  color: #d6d6d6;
  font-size: 15px;
  border-radius: 3px;
}

.payBox li label {
  display: block !important;
}

.payBox li + li {
  margin-top: 10px;
}

.payBox .patySel {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 10px;
  background-color: #32405d9a;
  color: #fff;
  border-radius: 3px;
}

.payBox .patySel option {
  background-color: #fff;
  color: #333;
}

.payBox button {
  width: 100%;
  height: 40px;
  background: transparent;
  outline: none;
  border: none;
  background-color: #ee6363bb;
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.questionBox .selBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.questionBox .selBox li {
  padding: 8px 25px;
  margin: 0 8px 8px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  background-color: #29303f;
  -webkit-box-shadow: 2px 2px 4px #121720;
          box-shadow: 2px 2px 4px #121720;
  color: #a5a4ae;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.questionBox .selBox li.on {
  color: #e9575b;
  border-color: #e9575b;
}

.questionBox .selBox li:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

@media (any-hover: hover) {
  .questionBox .selBox li:hover {
    color: #e9575b;
    border-color: #e9575b;
  }
}

.questionBox .infoBox {
  color: #797d88;
}

.questionBox .infoBox .info > ul > li {
  padding: 20px 0;
  position: relative;
}

.questionBox .infoBox .info > ul > li + li::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #3b4455;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.questionBox .infoBox .info .title {
  padding-bottom: 10px;
  color: #a0a4ae;
  font-size: 17px;
}

.questionBox .infoBox .info p {
  line-height: 20px;
}

.questionBox .infoBox .info .list {
  padding-left: 18px;
}

.questionBox .infoBox .info .list li {
  list-style-type: decimal;
  line-height: 20px;
}

.questionBox .infoBox .info .list li + li {
  margin-top: 6px;
}

@media (pointer: coarse), (-moz-touch-enabled: 1), screen and (pointer: fine) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), screen and (pointer: fine) and (min-resolution: 2dppx) and (max-width: 1023px) {
  .top-links,
  .member-links,
  .sidebar,
  .header,
  .navigation {
    display: none;
  }
  .questionBox .selBox li {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #29303fa6;
  }
  .questionBox .infoBox .info .title {
    color: #e5e5e5;
  }
  .special .fed-close {
    display: block;
  }
  .special .container {
    height: 100vh;
    padding: 65px 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../img/loginBg.jpg) no-repeat center top/cover;
    position: relative;
  }
  .special .container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
  }
  .special .container .fed-min {
    width: 100%;
    height: 100%;
    max-width: 600px;
    position: relative;
    z-index: 2;
    overflow-y: auto;
  }
  .special .userTitle {
    padding: 0;
    margin-bottom: 20px;
    color: #999;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 5px;
    opacity: 0.7;
    text-align: left;
  }
  .special .fed-userBody {
    padding-bottom: 20px;
  }
  .special .leftBox {
    display: none;
  }
  .special .rightBox {
    background: transparent;
    padding: 0;
  }
  .special .rightBox .userForm {
    max-width: 100%;
  }
  .noIndex::before, .noIndex::after {
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .noIndex::before {
    background: url(/MDassets/img/loginBg.jpg) no-repeat center top/cover;
  }
  .noIndex::after {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .noIndex .container {
    background: transparent;
    z-index: 2;
  }
  .noIndex .fed-userBody {
    min-height: calc(100vh - 50px);
  }
  .noIndex .leftBox {
    display: none;
  }
  .noIndex .userTitle {
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#242a38), to(transparent));
    background: linear-gradient(90deg, transparent, #242a38, transparent);
  }
}
/*# sourceMappingURL=userSelf.css.map */